body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

a,p,h1,h2,h3,h4,h5,span {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
